<%= render 'pages/coordonnées' %>
<h1 id="titre">Modifier mes coordonnées</h1>
<%= simple_form_for @user, url: update_my_profile_path, method: :patch do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "erreur") %> interdite(s) de sauvegarder :</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formulaires" data-controller="remove">
   <div class="d-flex justify-content-between"  style="gap:20px;">
    <div class="edit-user">
      <div class="form-group input-label-bold">
        <%= f.input :first_name, label: 'Prénom'  %>
      </div>

      <div class="form-group input-label-bold">
        <%= f.input :last_name, label: 'Nom'   %>
      </div>

      <div class="form-group input-label-bold">
        <%= f.input :email, label: 'Email'  %>
      </div>
    </div>

    <div class="edit-user">
      <div class="form-group input-label-bold">
        <%= f.input :phone, label: 'Téléphone'  %>
      </div>

      <div class="form-group input-label-bold">
        <%= f.input :address, label: 'Adresse'  %>
      </div>

      <div class="form-group input-label-bold">
        <%= f.input :rib, label: 'RIB'  %>
      </div>
    </div>

    <div class="form-group input-label-bold photo-column">
      <%= f.input :photo, as: :file %>
      <%= image_tag(current_user.photo, style: "border-radius: 50%; margin-right: 20px; width: 90px; height: 90px; object-fit: cover;") %>
    </div>
  </div>
    <div id="enregister">
      <%= f.button :submit, value: 'Enregistrer', class:'submit-button' %>
    </div>
</div>


  </div>
<% end %>
