 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?w=600&auto=format&fit=cro[…]3wxMjA3fDB8MHxzZWFyY2h8Nnx8b3JnYW5pemF0aW9ufGVufDB8fDB8fHww);">

    <h3 id="titrebanner">L'administratif n'a jamais été aussi simple</h3>

  </div>



  <div class="coordonnees" >

    <% if user_signed_in? %>
            <h2>Mes coordonnées actuels</h2>
            <hr class="thick-hr">
            <div class="row">
   <div class="boutton d-flex justify-content-end" id="je-change-mes-coordonnees">
      <%= link_to edit_my_profile_path do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
    </div>
      <div class="col-md-6">
        <ul>
        <li>
          <i class="fa-regular fa-address-card" ></i>
          <%= "#{current_user.last_name} #{current_user.first_name}" %>
        </li>
          <li><i class="fa-regular fa-user"style= "margin-right: 10px"></i><%= current_user.email %></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li><i class="fa-solid fa-house" style= "margin-right: 10px"></i><%= current_user.address %></li>
          <li><i class="fa-solid fa-phone" style= "margin-right: 10px"></i><%= current_user.phone %></li>
          <div class="form-group" data-controller="rib">
          <li><i class="fa-solid fa-money-check" style= "margin-right: 10px"></i></li>
          <span class= " d-none info" data-rib-target="decrypt"><%= current_user.rib %></span>
        <span class="info" data-rib-target="encrypt"><%= current_user.encrypt_rib %></span>
        <i class="fa-solid fa-eye" data-action="click->rib#toggle"></i></div>
        </ul>
      </div>


    </div>
    </div>
     <% end %>
