
<%= render 'pages/coordonnées' %>
<div class="search-bar">
  <%= form_with url: root_path, method: :get, local: true do |form| %>
    <%= form.label :query, "Recherche :" %>
    <%= form.text_field :query, placeholder: "Entrez votre recherche" %>

    <%= form.submit "Rechercher", class: "btn btn-primary" %>
  <% end %>
</div>

 <%= render 'user_apps/cards' %>
