
<%= render 'pages/coordonnées' %>
<div class="search-bar">
  <%= form_with url: root_path, method: :get, local: true do |form| %>
    <%= form.label :query, "Recherche :" %>
    <%= form.text_field :query, placeholder: "Entrez votre recherche" %>

    <%= form.submit "Rechercher", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="card-container">
  <div id="ajouter-une-demarche">
    <%= link_to new_demarche_path, class: "btn btn-outline-dark ml-2" do %>
      <i class="fa-solid fa-file-circle-plus"></i>
      Ajouter une démarche
    <% end %>
  </div>
    <%= render 'user_apps/cards' %>
</div>
