<div class= container-all data-controller="hello">
  <div class="app-cards-container">
        <% @user_apps.each do |user_app| %>
          <div class="app-card" data-action="click->hello#grow">
            <div class="app-card-header">
              <h3><% user_app.name %></h3> <!-- Utilise `user_app` au lieu de `@user_app` -->
              <p><% user_app.app.name if user_app.app %></p> <!-- Vérifie que `user_app.app` n'est pas nil -->
            </div>

            <div class="card mb-3 little-card" id="userCard" style="cursor: pointer; width: 100%;">
            <div class="d-flex justify-content-between">
              <div id="logo">
                <%= image_tag "#{user_app.app.name.downcase.gsub(" ","")}.jpg", alt: user_app.name, class: "card-img-top" if asset_exists?("#{user_app.app.name.downcase.gsub(" ","")}.jpg") %> <!-- Vérifie que `user_app.app` n'est pas nil -->
                <%= image_tag "#{user_app.app.name.downcase.gsub(" ","")}.png", alt: user_app.name, class: "card-img-top" if asset_exists?("#{user_app.app.name.downcase.gsub(" ","")}.png") %> <!-- Vérifie que `user_app.app` n'est pas nil -->
                <h4 class="card-title"><%= user_app.app.name %></h4>
              <%= link_to user_app_path(user_app), data: { turbo_method: :delete, confirm: 'Êtes-vous sûr de vouloir supprimer cette application ?' }, class: 'custom-icon-link' do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
                </div >
                <div class="d-flex justify-content-between">
                <!-- Contenu minimal affiché initialement -->
                <p class="card-text"><strong>Adresse :</strong> <%= user_app.address %></p>
                <p class="card-text"><strong>Email :</strong> <%= user_app.email %></p>
                </div>


              <div id="moreInfo" style="display: none;">

                <!-- Contenu caché affiché après clic -->
                  <p class="card-text"><strong>Téléphone :</strong> <%= user_app.phone %></p>
                  <div >
                  <p class="card-text"><strong>Date de prélèvement :</strong> <%= user_app.date_prelevement %></p>
                  <p class="card-text"><strong>Date de renouvellement :</strong> <%= user_app.date_renouvellement %></p>
                  </div>
                  <div class= "d-flex justify-content-between">
                  <p class="card-text"><strong>Montant :</strong> <%= number_to_currency(user_app.montant, unit: "€") %></p>
                  <p class="card-text"><strong>RIB :</strong> <%= user_app.rib %></p>
                  </div>
              </div>
              </div>
            </div>
        <% end %>
  </div>
</div>
