
<%= render 'pages/coordonnées' %>
<div class="formulaire" data-controller="remove">
  <%= simple_form_for @user_app do |f| %>
    <!-- Le champ Application ne sera pas modifiable -->
    <div class="form-group" id="appname" data-remove-target="input">
      <p><%= @user_app.app.name %></p> <!-- Affiche le nom de l'application -->
    </div>

    <!-- Nom modifiable -->
    <div class="form-group">
      <label>Nom :</label>
              <%= f.input :name, placeholder: "Nom", label: false, input_html: { value: current_user.first_name } %>
      </div>

    <!-- Téléphone modifiable -->
    <div class="form-group">
      <label style="letter-spacing:1px">Téléphone :</label>
              <%= f.input :phone, placeholder: "Téléphone", label: false, input_html: { value: current_user.phone } %>

    </div>

    <!-- Adresse modifiable -->
    <div class="form-group">
      <label>Adresse :</label>
              <%= f.input :address, placeholder: "Adresse", label: false, input_html: { value: current_user.address } %>
      </div>


    <!-- Email modifiable -->
    <div class="form-group">
      <label>Email :</label>
              <%= f.input :email, placeholder: "Email", label: false, input_html: { value: current_user.email } %>

    </div>

    <!-- RIB modifiable avec icône de visibilité -->
    <div class="form-group" data-controller="rib">
      <label>RIB :</label>
              <%= f.input :rib, placeholder: "RIB", label: false, input_html: { value: current_user.rib, class: "d-none", data: { rib_target: "decrypt" } } %>
        <span class="info" data-rib-target="encrypt"><%= current_user.encrypt_rib %></span>
        <i class="fa-solid fa-eye" data-action="click->rib#toggle"></i>

    </div>

    <!-- Dates de prélèvement et de renouvellement -->
    <div class="d-flex justify-content-between" id="center">
      <div id="date">
        <%= f.input :date_prelevement, placeholder: "Date de prélèvement", label: 'Date de prélèvement', as: :date, html5: true %>
        <%= f.input :date_renouvellement, placeholder: "Date de renouvellement", label: 'Date de renouvellement', as: :date, html5: true %>
      </div>
    </div>

    <!-- Montant modifiable -->
    <div id="montant">
      <%= f.input :montant, placeholder: "Montant", label: false %>
    </div>

    <!-- Bouton Enregistrer -->
    <div id="enregistrer" class="text-center">
      <%= f.button :submit, value: 'Enregistrer', class: 'submit-button' %>
    </div>

  <% end %>
</div>
