
<%= render 'pages/coordonnées' %>
<div class="formulaire" data-controller="remove">
  <%= simple_form_for @user_app do |f| %>
    <!-- Le champ Application ne sera pas modifiable -->
    <div class="form-group" id="appname" data-remove-target="input">
      <h2 class= "h2-titre"><%= @user_app.app.name %></h2>
    </div>
      <hr class="thick-hr"><!-- Affiche le nom de l'application -->

    <!-- Nom modifiable -->
    <div class="form-group">
            <div id= "modifform" class="input-label-bold">
              <%= f.input :name, placeholder: "Nom", label: "Nom", input_html: { value: current_user.first_name }, class: "inp-margin" %>
            </div>

      </div>

    <!-- Téléphone modifiable -->
    <div class="form-group">
      <div id= "modifform" class="input-label-bold">
              <%= f.input :phone, placeholder: "Téléphone", label: "Téléphone", input_html: { value: current_user.phone }, class: "inp-margin" %>
      </div>

    </div>

    <!-- Adresse modifiable -->
    <div class="form-group-text">
      <div id= "modifform" class="input-label-bold">
              <%= f.input :address, placeholder: "Adresse", label: "Adresse", input_html: { value: current_user.address }, class: "inp-margin" %>
      </div>
      </div>


    <!-- Email modifiable -->
    <div class="form-group-text">
      <div id= "modifform" class="input-label-bold">
              <%= f.input :email, placeholder: "Email", label: "Email", input_html: { value: current_user.email }, class: "inp-margin" %>
      </div>
    </div>

    <!-- RIB modifiable avec icône de visibilité -->
    <div class="form-group" data-controller="rib">

      <div id= "modifform" class="input-label-bold">
              <%= f.input :rib, placeholder: "RIB", label: "RIB", input_html: { value: current_user.rib, class: "d-none", data: { rib_target: "decrypt" } }, class: "inp-margin" %>
        </div>
        <span class="info" data-rib-target="encrypt"><%= current_user.encrypt_rib %></span>
        <i class="fa-solid fa-eye" data-action="click->rib#toggle"></i>

    </div>

    <!-- Dates de prélèvement et de renouvellement -->
      <div id="date" class="input-label-bold">
        <%= f.input :date_prelevement, placeholder: "Date de prélèvement", label: 'Date de prélèvement', as: :date, html5: true %>
        <%= f.input :date_renouvellement, placeholder: "Date de renouvellement", label: 'Date de renouvellement', as: :date, html5: true %>
      </div>


    <!-- Montant modifiable -->
    <div id="montant" class="input-label-bold"  >
      <%= f.input :montant, placeholder: "Montant", label: "Montant" %>
    </div>

    <!-- Bouton Enregistrer -->
    <div id="enregistrer" class="text-center">
      <%= f.button :submit, value: 'Enregistrer', class: 'submit-button' %>
    </div>

  <% end %>
</div>
