<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?w=600&auto=format&fit=crop&q=80');">
  <p>L'administratif n'a jamais été aussi simple</p>
</div>

<div class="coordonnees">
  <% if user_signed_in? %>
    <div style="display: flex; align-items: center; margin-bottom: 25px;">
      <i class="fa-solid fa-user" style="font-size: 20px; margin-right: 10px;"></i>
      <h2 style="margin: 0;">Mes coordonnées actuelles</h2>
    </div>
    <div class="row">
      <ul>
        <li style="display: flex; justify-content: space-between; margin-left: 15px;">
          <div>
            <p style="display: inline-block;">Votre adresse :</p>
            <span><%= current_user.address %></span>
          </div>
          <div>
            <p style="display: inline-block; margin-right: 10px;">Votre numéro de téléphone :</p>
            <span><%= current_user.phone %></span>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between; margin-left: 15px;">
          <div>
            <p style="display: inline-block; margin-right: 10px;">Vos coordonnées bancaires :</p>
            <span><%= current_user.rib %></span>
          </div>
          <div>
            <p style="display: inline-block; margin-right: 10px;">Votre email :</p>
            <span><%= current_user.email %></span>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>
   <h1>Toutes vos démarches</h1>
<hr class="thick-hr">

<div class="boutton d-flex justify-content-center mt-3" id="buttons">
  <div class="boutton d-flex justify-content-center" id="je-demenage">
    <%= link_to je_demenage_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
      <i class="fa-solid fa-dolly" style="font-size: 30px;"></i>
      Je déménage
    <% end %>
  </div>

  <div class="boutton d-flex justify-content-center" id="je-change-de-rib">
    <%= link_to rib_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
      <i class="fa-solid fa-comments-dollar" style="font-size: 30px;"></i>
      Je change de RIB
    <% end %>
  </div>

  <div class="boutton d-flex justify-content-center" id="je-change-mes-coordonnees">
    <%= link_to users_edit_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
      <i class="fa-solid fa-address-card" style="font-size: 30px;"></i>
      Je change mes coordonnées
    <% end %>
  </div>

  <div class="boutton d-flex justify-content-center" id="ajouter-une-demarche">
    <%= link_to user_apps_new_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
      <i class="fa-solid fa-address-card" style="font-size: 30px;"></i>
      Ajouter une démarche
    <% end %>
  </div>
</div>

<%= render "cards" %>

<div class="d-flex justify-content-center mt-3">
  <%= link_to 'Retour', root_path, class: 'btn btn-primary' %>
</div>
