<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?w=600&auto=format&fit=cro[…]3wxMjA3fDB8MHxzZWFyY2h8Nnx8b3JnYW5pemF0aW9ufGVufDB8fDB8fHww);">

    <p>L'administratif n'a jamais été aussi simple</p>

  </div>

<div class="coordonnees" >
    <% if user_signed_in? %>
        <div style="display: flex; align-items: center; margin-bottom: 25px;">
            <i class="fa-solid fa-user" style="font-size: 20px; margin-right: 10px;"></i>
            <h2 style="margin: 0;">Mes coordonnées actuels</h2>
        </div>
            <div class="row">
      <%# <div class="col-md-6">
      </div>
      <div class="col-md-6"> %>
       <ul>
      <li style="display: flex; justify-content: space-between; margin-left: 15px;">
        <div>
          <p style="display: inline-block; ">Votre adresse : </p>
          <span><%= current_user.address %></span>
        </div>
        <div>
          <p style="display: inline-block; margin-right: 10px">Votre numéro de téléphone : </p>
          <span><%= current_user.phone %></span>
        </div>
      </li>
      <li style="display: flex; justify-content: space-between; margin-left: 15px;">
        <div>
          <p style="display: inline-block; margin-right: 10px;">Vos coordonnées bancaire : </p>
          <span><%= current_user.rib %></span>
        </div>
        <div>
          <p style="display: inline-block; margin-right: 10px;">Votre email : </p>
          <span><%= current_user.email %></span>
        </div>
      </li>
    </ul>
      </div>
    </div>
    <h1>Toutes vos démarches</h1>
    <hr class="thick-hr"s>
    <div class="boutton d-flex justify-content-center mt-3" id="buttons">
    <div class="boutton d-flex justify-content-center" id="je-demenage">
    <%= link_to je_demenage_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
    <i class="fa-solid fa-dolly" style="font-size: 30px;"></i>
    Je démenage
  <% end %>
</div>
              </div>
            <div class="boutton d-flex justify-content-center" id = "je change de rib">
            <%= link_to rib_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
            <i class="fa-solid fa-comments-dollar" style="font-size: 30px;"></i>
              Je change de rib </a>
              <% end %>
              </div>
            <div class="boutton d-flex justify-content-center" id = "je change mes coordonnées">
            <%= link_to users_edit_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
            <i class="fa-solid fa-address-card" style="font-size: 30px;"></i>
              Je change mes coordonnées </a>
              <% end %>
              </div>
              <div class="boutton d-flex justify-content-center" id = "ajouter une demarche">
             <%= link_to user_apps_new_path, class: 'btn btn-flex', style: 'background-color: #FFD18E; color: white;' do %>
            <i class="fa-solid fa-address-card" style="font-size: 30px;"></i>
            ajouter une demarche</a>
            <% end %>


              </div>
    </div>


      <div class="app-cards-container">
        <% @user_apps.each do |user_app| %>
          <div class="app-card">
            <div class="app-card-header">
              <h3><% user_app.name %></h3> <!-- Utilise `user_app` au lieu de `@user_app` -->
              <p><% user_app.app.name if user_app.app %></p> <!-- Vérifie que `user_app.app` n'est pas nil -->
            </div>
            <div class="card mb-3" id="userCard" style="cursor: pointer; width: 100%;">
              <div class="card-header">
                <h5 class="card-title"><%= user_app.app.name %></h5>
              </div>
              <div class="card-body" id="cardContent">
                <!-- Contenu minimal affiché initialement -->
                <p class="card-text"><strong>Adresse :</strong> <%= user_app.address %></p>
                <p class="card-text"><strong>Email :</strong> <%= user_app.email %></p>
              </div>
              <div id="moreInfo" style="display: none;">
                <!-- Contenu caché affiché après clic -->
                <div class="card-body">
                  <p class="card-text"><strong>Téléphone :</strong> <%= user_app.phone %></p>
                  <p class="card-text"><strong>Date de prélèvement :</strong> <%= user_app.date_prelevement %></p>
                  <p class="card-text"><strong>Date de renouvellement :</strong> <%= user_app.date_renouvellement %></p>
                  <p class="card-text"><strong>Montant :</strong> <%= number_to_currency(user_app.montant, unit: "€") %></p>
                  <p class="card-text"><strong>RIB :</strong> <%= user_app.rib %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to 'Supprimer', user_app_path(user_app),  data: { turbo_method: :delete, confirm: 'Êtes-vous sûr de vouloir supprimer cette application ?' }, class: 'btn btn-danger' %>
      </div>
      <% end %> <!-- Fin de la boucle each -->

      <%= link_to 'Retour', root_path %>
  </div>
