<%= render 'pages/coordonnées' %>
<div class="formulaire">
<h1 id="titre">Ajout d'une demarche</h1>




<%= simple_form_for @user_app do |f| %>
  <%= f.input :app_id, collection: App.all ,label: false  %>
  <%= f.input :name, placeholder: "Nom",label: false %>
  <%= f.input :phone, placeholder: "Téléphone",label: false %>
  <%= f.input :address, placeholder: "Adresse",label: false %>
  <%= f.input :email, placeholder: "Email",label: false %>
  <%= f.input :date_prelevement, placeholder: "Date de prélèvement",label: false %>
  <%= f.input :date_renouvellement, placeholder: "Date de renouvellement",label: false %>
  <%= f.input :montant, placeholder: "Montant",label: false %>
  <%= f.input :rib, placeholder: "RIB",label: false %>
  <%= f.button :submit %>
<% end %>
</div>

<%= link_to 'Retour', root_path %>
