<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?w=600&auto=format&fit=cro[…]3wxMjA3fDB8MHxzZWFyY2h8Nnx8b3JnYW5pemF0aW9ufGVufDB8fDB8fHww);">

    <p>L'administratif n'a jamais été aussi simple</p>

</div>
<div class="formulaire">
<h1 id="titre">Ajout d'une demarche</h1>




<%= simple_form_for @user_app do |f| %>
  <%= f.input :name, placeholder: "Nom",label: false %>
  <%= f.input :phone, placeholder: "Téléphone",label: false %>
  <%= f.input :address, placeholder: "Adresse",label: false %>
  <%= f.input :email, placeholder: "Email",label: false %>
  <%= f.input :date_prelevement, placeholder: "Date de prélèvement",label: false %>
  <%= f.input :date_renouvellement, placeholder: "Date de renouvellement",label: false %>
  <%= f.input :montant, placeholder: "Montant",label: false %>
  <%= f.input :rib, placeholder: "RIB",label: false %>
  <%= f.button :submit %>
<% end %>
</div>

<%= link_to 'Retour', root_path %>
